@import "tailwindcss";

#root {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
}

nav,
#contentSection,
#sideBar {
  border: 1px solid white;
}

#rightSection {
  width: 80%;
  height: 100%;
}