@import "tailwindcss";

#root {
  width: auto;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

nav,
#contentSection,
#sideBar,
footer {
  border: 1px solid white;
}

#rightSection {
  width: 80%;
  /* height: 100%; */
}