@import "tailwindcss";

#root {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
}

#sideBar,
nav {
  border: 1px solid white;
}

#sideBar {
  width: 20%;
  height: 100%;
  color: white;
  padding-left: 40px;
  padding-top: 25px;
}